body{
	text-align: center;
	color: black;
}

#leftcolumn{
	height: 100%;
	padding: 5px 10px 5px 10px;
	margin-left: 5px;
	color: lavenderblush;
	font-size: 25px;
	font-family: 'Rajdhani';
	text-align: left;
	position: fixed;
}


.categories:hover{
	font-size: 30px;
	transition: 400ms ease all;
}

#welcome{
	font-size: 40px;
}

.containers{
		margin-left: 150px;
	color:  black;
	font-size: 20px;
	font-family: 'Quicksand';
	justify-content: safe center;
	text-align: center;
	padding: 5px 5px 5px 5px;
}

#collectionsbox{
	display: inline-flex;
}

.Links{
	color: rebeccapurple;
	font-size: 15px;
	text-decoration: underline;
	font-family: 'Quicksand';
}

.Links:hover{
	color: indigo;
	transition: 200ms ease all;
}

#header{
	width: 100%;
	display: flex;
	text-align:  center;
}

.resume-button{
	margin: 20px;
	font-weight: 500;
	letter-spacing: 0.5px;
	border: 1px solid black;
	background: transparent;
	width: 110px;
	height: 40px;
	transition: 800ms ease all;
	align-content: center;
	font-size: 18px;
}

.resume-button:hover{
	background-color: black;
	color: white;
	-webkit-box-shadow: 0px 0px 36px 4px #D9D9D9; 
  	box-shadow: 0px 0px 36px 4px #D9D9D9;
	transition: 400ms ease all;
}

.resume-button a{
	color: black;
	font-family: "Quicksand";
	display: block;
}

.resume-button a:hover{
	color: white;
	transition: 300ms ease all;
}

#container{
	flex-direction: row;
	width: 100%;
	margin: 2% 10% 2% 10%;
	height: 50%;
	flex-grow: 1;
}

.column-left{
	float: left;
}

#SocialMediaLinks{
	color: black;
	font-size: 15px;
	font-family: 'Quicksand';
}

img{
	margin: 2% 2% 2% 2%;
}

@media screen and (max-width: 780px){
	.resume-button{
		width: 80px;
		height: 20px;
		transition: 800ms ease all;
	}
}

img:hover{
	-webkit-box-shadow: 0px 0px 36px 4px #D9D9D9; 
  	box-shadow: 0px 0px 36px 4px #D9D9D9;
	height: 250px;
	transition: 600ms ease all;
}

.textlink{
	text-decoration: none;
	color: lavenderblush;
}

#resumelink{
	text-decoration: none;
}

.column-left{
	float: left;
	width: 300px;
	height:300px;
	font-size: 20px;
	padding: 3%;
	background: transparent;
	text-align: center;	
	border-radius: 10px;
}
.column-left:hover{
	transform: scale(1.05);
  	transition:800ms ease all;
}

.column-middle{
	float: left;
	width: 300px;
	height:300px;
	font-size: 20px;
	padding: 3%;
	background: transparent;
	text-align: center;
	border: transparent;
}
.column-middle:hover{
	transform: scale(1.05);
  	transition: 800ms ease all;
}

.column-right{
	float: left;
	width: 300px;
	height: 300px;
	font-size: 20px;
	padding: 3%;
	background: transparent;
	text-align: center;
	border-radius: 10px;
}
.column-right:hover{
	transform: scale(1.05);
 	transition:800ms ease all;
}

.boxlink{
	color: black;
	text-decoration: none;
}

.boxlink:hover{
	font-size: 22px;
	transition:400ms ease all;
}






